html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Assistant', sans-serif;
    font-size: 12px;
}
#map {
    height: 100%;
    width: 100%;
}
#cameraContainer {
    width: 30%;
    right: 10px;
    top:10px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 999;
    box-shadow: 3px 3px 10px;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 20px;
    font-weight:900;
}
#cameraContainer:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
button {
    cursor: pointer;
    background-color: #ff6600;
    color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.1s all ease;
}
button#copyCamera {
    margin: 12px;
    padding: 10px;
    font-weight:900;
    color: white
}
#copySuccess {
    display: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
}
/* materialize and esri widget were fighting, break it up here */
input[type=text].esri-input.esri-search__input {
    height: 32px;
    padding: 0 .5em;
    margin: 0;
    font-size: 14px;
    border-bottom: none
}